@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-50: #F0FDF4;
  --color-primary-100: #E3F9E7;
  --color-primary-200: #C7F2D1;
  --color-primary-300: #A4E9B6;
  --color-primary-400: #7CDE95;
  --color-primary-500: #52D172;
  --color-primary-600: #3DBA5A;
  --color-primary-700: #2E8E45;
  --color-primary-800: #257037;
  --color-primary-900: #205C2E;
  --color-primary-950: #103219;
  
  /* Background Colors */
  --color-background: #E3F9E7;
  --color-background-secondary: #F7F7F7;
  
  /* Text Colors */
  --color-text-primary: #1a202c;
  --color-text-secondary: #718096;
}

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: white;
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
